__pycache__/
*.py[cod]
*$py.class
*.so
.env
db.sqlite3
db.sqlite3-journal
staticfiles/
venv/
.venv/
env/
.vscode/
.idea/
*.swp
*.swo
.git/
.DS_Store
Thumbs.db
.env.staging
boardgames_organizer/
debugs/
