{$DOMAIN} {
	header {
		X-Content-Type-Options nosniff
		X-Frame-Options SAMEORIGIN
		Referrer-Policy strict-origin-when-cross-origin
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}
	handle /media/* {
		root * /app
		file_server
	}
	reverse_proxy web:8000
}

{$STAGING_DOMAIN} {
	header {
		X-Content-Type-Options nosniff
		X-Frame-Options SAMEORIGIN
		Referrer-Policy strict-origin-when-cross-origin
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}
	handle /media/* {
		root * /app
		file_server
	}
	basicauth * {
		{$BASIC_AUTH_USER} {$BASIC_AUTH_PASSWORD_HASH}
	}
	reverse_proxy staging-web:8000
}
